$dark-blue: rgb(13, 28, 59);
$med-blue: rgb(11, 64, 133);
$light-blue: rgb(2, 123, 241);
$gold: rgb(253, 242, 196);

body {
    background: #090a2e;
    color: #fff;
    font-family: HKGrotesk,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#save-spinner {
    height: 40px;
    padding: 8px;
}

img#voter-flag {
    padding: 0 10px;
}

#confirmation-modal .modal-content, #login-box {
    background: #174ebe;
}

#trigger-confirmation-modal {
    color: white !important;
    background: $med-blue;
}

ul.scores li:first-child {
    border-radius: 8px 0 0 0;
}

ul.scores li:last-child {
    border-radius: 0 0 0 8px;
}

ul.countries li:first-child {
    border-radius: 0 8px 0 0;
}

ul.countries li:last-child {
    border-radius: 0 0 8px 0;
}

.highlighted {
    background: $gold;
    color: black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}