//
body {
    background: #090a2e;
    color: #fff;
    font-family: HKGrotesk,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#save-spinner {
    height: 40px;
    padding: 8px;
}

img#voter-flag {
    padding: 0 10px;
}

#confirmation-modal .modal-content, #login-box {
    background: #174ebe;
}