@font-face {
  font-family: "gotham_boldregular";
  src: url("/fonts/gotham_bold_regular-webfont.woff2") format("woff2"), url("/fonts/gotham_bold_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook";
  src: url("/fonts/gotham_book_regular-webfont.woff2") format("woff2"), url("/fonts/gotham_book_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #090a2e;
  color: #fff;
  font-family: gothambook;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gotham_boldregular;
}

#save-spinner {
  height: 40px;
  padding: 8px;
}

img#voter-flag {
  padding: 0 10px;
}

#confirmation-modal .modal-content,
#login-box {
  background: #174ebe;
}

#trigger-confirmation-modal {
  color: white !important;
  background: #0b4085;
}

ul.scores li:first-child {
  border-radius: 8px 0 0 0;
}

ul.scores li:last-child {
  border-radius: 0 0 0 8px;
}

ul.countries li:first-child {
  border-radius: 0 8px 0 0;
}

ul.countries li:last-child {
  border-radius: 0 0 8px 0;
}

.highlighted {
  background: #fdf2c4;
  color: black;
  transition: background-color 1000ms linear;
}

